/* Variables */
:root {
  --main-font-size: 14px;
}

/* Reset base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hidden elements for accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Base Typography */
.page {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-font-size);
  font-weight: normal;
}

/* Header */
.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__logo {
  display: block;
  height: 22px;
}

.menu-toggle {
  display: none;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
}

@media (max-width: 360px) {
  .menu-toggle {
    display: block;
  }
}