/* Breakpoints set on:
   mobile-width: 360px;
   tablet-width: 768px;
   desktop-width: 1366px; */

/* Variables */
:root {
  --main-font-size: 14px;
  --main-font-color: #38214a;
  --alternate-font-color: #ffffff;
  --main-background-color: #5d516c;

}

/* Reset base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hidden elements for accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Base Typography & Grid */
.page {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-font-size);
  font-weight: normal;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__logo {
  display: block;
  height: 22px;
}

.menu-toggle {
  display: none;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
}

@media (max-width: 360px) {
  .menu-toggle {
    display: block;
  }
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 361px) {
  .site-menu {
    align-self: flex-end;
    flex-basis: content;
    max-width: 600px;
  /* Emulated flex gap */
  --gap: 12px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
  }
}

.site-menu__item {
  /* FIXME */display: contents;
}

@media (min-width: 361px) {
  .site-menu__item {
  margin: var(--gap) 0 0 var(--gap);
  }
}

.site-menu__link {
  display: block;
  padding: 25px;
  padding-top: 37px;
  color: var(--alternate-font-color);
  font-weight: 600;
  text-decoration: none;
}

.site-menu__link:hover {
  opacity: 0.6;
}

.site-menu__link:active {
  opacity: 0.3;
}

/* MAIN CONTENT */
.hero-section {
  height: 100vh;
  padding-top: 64px;
  background-color: var(--main-background-color);
}

/* FOOTER */